# PostgreSQL settings
POSTGRES_USER=test_user
POSTGRES_PASSWORD=123456
POSTGRES_DB=test_db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# Server settings
SERVER_PORT=8000

# OAuth2.0 settigns
CLIENT_ID=927751637333-0278hmkvgql4qlcqmrs6mvkhbekjrqcl.apps.googleusercontent.com
CLIENT_SECRET=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
CLIENT_CALLBACK_URL=http://localhost:8000/auth/callback